<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @reply.post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reply.user_id %>
</p>

<p>
  <strong>Report:</strong>
  <%= @reply.report %>
</p>

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', replies_path %>
