<div class="section">
<div class="columns">
    <div class="column is-3 p-0">
    </div>
        <div class="column is-6">
<h1 class="title f-30 th-700 m-t-20">Notifications</h1> 
<hr>
<% @notifications.each do |notification|%>
<%= link_to notification.post, class: "has-text-dark" do  %>
<% if notification.notification_type == 0 %>
<article class="media">
  <figure class="media-left">
    <i class="material-icons has-text-primary">favorite</i>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Somebody liked your post <%= time_ago_in_words(notification.created_at) %> ago.</strong>
        <br>
        <%= notification.post.title %>
    </div>
  </div>
</article>
  
<% elsif notification.notification_type == 1 %>
<article class="media">
  <figure class="media-left">
    <i class="material-icons has-text-primary">comment</i>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Somebody commented on your post <%= time_ago_in_words(notification.created_at) %> ago.</strong>
        <br>
        <div class="notification is-light">
        <%= notification.post.body %>
        </div>
      </p>
    </div>
  </div>
</article>
<% elsif notification.notification_type == 2 %>
<article class="media">
  <figure class="media-left">
    <i class="material-icons has-text-danger">error</i>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Somebody reported your post <%= time_ago_in_words(notification.created_at) %> ago. </strong> We are currently reviewing it. 
        It will be removed from the public feed until we evaluate whether or not 
        it abides by the persuasion paper guidelines. If we find that it does, it will be 
        re-posted to the public feed and you will be able to continue to post and interact with others on our platform.
        <br> <br>
        If not, you will be given a warning and you can continue to post. If another incident comes up, we will then have to 
        ban your account to ensure persuasive paper maintains a safe and friendly community. Thank you for your patience and happy persuading!
      </p>
    </div>
  </div>

</article>
<% end %>
<hr>
<% end %>
<% end %>
<%== pagy_bulma_nav(@pagy) %>
</div>
</div>
</div>