<p id="notice"><%= notice %></p>

<h1>Rreplies</h1>

<table>
  <thead>
    <tr>
      <th>Reply</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rreplies.each do |rreply| %>
      <tr>
        <td><%= rreply.reply_id %></td>
        <td><%= rreply.content %></td>
        <td><%= link_to 'Show', rreply %></td>
        <td><%= link_to 'Edit', edit_rreply_path(rreply) %></td>
        <td><%= link_to 'Destroy', rreply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rreply', new_rreply_path %>
