<div class="section m-b-0 p-b-0">
  <div class="columns">
    <div class="column is-3 p-0"></div>
    <div class="column m-b-0 p-b-0">
<h1 class="title f-30 th-700 m-t-20">Post</h1> <hr>
<div class="card">
  <div class="card-content">

        <h2 class="title th-700 f-25"><%= @post.title %></h2>
        <p class="subtitle"><%= @post.body %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<!--replies-->
<%= form_for Reply.new do |f| %>
<%= f.hidden_field :post_id, value: @post.id%>
<div class="field m-t-20">
  <div class="control">
    <%= f.text_area :content, class: "textarea is-light", placeholder: "What do you think about this? This is where you leave your thoughts respectfully.", rows: "2"%>
  </div>
</div>
<%= f.submit "submit", class: "button is-primary"%>
<% end %>
  </div>
</div>
<br><br>
<% @replies.each do |reply|%>
<strong><%=time_ago_in_words(reply.created_at)%></strong>
<p class="subtitle is-6"><%=reply.content%></p>
<!--level--->
<nav class="level is-mobile">
  <div class="level-right">
    <p class="level-item"><%= link_to 'Report', replies_report_path(reply), method: :post %> </p>
  </div>
</nav>
<hr>
<% end %>

    </div>
    <div class="column is-3"></div>
  </div>
</div>
