<div class="section m-b-0 p-b-0">
  <div class="columns">
    <div class="column is-3 p-0"></div>
    <div class="column m-b-0 p-b-0">
<h1 class="title f-30 th-700 m-t-20">Paper</h1> <hr>
<div class="card">
  <div class="card-content">

        <h2 class="title th-700 f-20"><%= @post.title %></h2>
        <p class="subtitle f-15"><%= @post.body %></p>
        <!--level--->
        <nav class="level is-mobile m-b-0">
          <!-- Right side -->
          <div class="level-left">
            <p class="level-item">
                <% if user_signed_in? && !Favorite.exists?(post_id: @post.id, user_id: current_user.id) %>
                  <%= link_to favorite_path(@post), method: :post, remote: true do %>
                    <i class="material-icons">favorite_border</i>
                  <% end %>
                <% elsif user_signed_in? %>
                  <%= link_to favorite_path(@post), method: :post, remote: true do %>
                    <i class="material-icons">favorite</i>
                  <% end %>
                <% end %>
            </p>
          </div>
          <div class="level-right">
            <p class="level-item"><a>Share</a></p>
            <% if !@post.report? %>
              <p class="level-item"><%= link_to 'Report', posts_report_path(@post), method: :post %> </p>
            <% end %>
          </div>
        </nav>
        <div class="subtitle is-7 m-l-5"><%= pluralize(Favorite.where(post_id: @post.id).count, 'favorite') %> · <%= pluralize(Reply.where(post_id: @post.id).count, 'comment')%> · <%= pluralize(View.where(post_id: @post.id).count, 'views')%></div>
<!--replies-->
<%= form_for Reply.new do |f| %>
<%= f.hidden_field :post_id, value: @post.id%>
<div class="field m-t-20">
  <div class="control">
    <%= f.text_area :content, class: "textarea is-light", placeholder: "What do you think about this? This is where you leave your thoughts respectfully.", rows: "3"%>
  </div>
</div>
<%= f.submit "submit", class: "button is-primary"%>
<% end %>
<%= link_to 'Back', posts_path %>
  </div>
</div>
<br><br>
<% @replies.each do |reply|%>
<strong><%=time_ago_in_words(reply.created_at)%></strong>
<p class="subtitle is-6"><%=reply.content%></p>
<!--level--->
<nav class="level is-mobile">
  <div class="level-right">
    <p class="level-item"><%= link_to 'Report', replies_report_path(reply), method: :post %> </p>
  </div>
</nav>
<hr>
<% end %>

    </div>
    <div class="column is-3"></div>
  </div>
</div>
