<!DOCTYPE html>
<html>
  <head>
    <title><%= company_name %></title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="apple-touch-icon-precomposed" href="iphone-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <% if current_page?(root_path) %>
         <script data-name="BMC-Widget" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="persuasionpaper" data-description="" data-message="Help us eliminate silence by supporting our mission! :)" data-color="#5e17eb" data-position="right" data-x_margin="18" data-y_margin="18"></script>
      <% end %>
    </head>

  <body>
<%= render 'shared/navbar'%>
<%= render 'shared/notifications'%>
<%= yield %>
<% if user_signed_in? %>
  <%= render 'shared/bottom_nav'%>
<% end %>


  </body>
</html>
